body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

div.grid{
    display: flex;
    align-items: center;
}

div.row{
    display: flex;
    flex-direction: row;
}

div.tile{
    width: 10vh;
    height: 10vh;
    border-style: solid;
    border-color: #635147;
    margin: -1px;
    background-color: #E5AA70;
    cursor: pointer;
}

img.card{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h2#turn{
    color: #635147;
}

div#counters{
    color: #635147;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

div#winTracker{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#p1{
    margin-right: 5%;
}