body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

div.grid{
    display: flex;
    align-items: center;
}

div.row{
    display: flex;
    flex-direction: row;
}

div.tile{
    width: 10vh;
    height: 10vh;
    border-style: solid;
    border-color: #635147;
    margin: -1px;
    background-color: #E5AA70;
}

img.card{
    object-fit: cover;
    width: 100%;
    height: 100%;
}