body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.grid{
    height: 100vh;
    display: flex;
    align-items: center;
}

div.row{
    display: flex;
    flex-direction: row;
}

div.tile{
    width: 10vh;
    height: 10vh;
    border-style: solid;
    border-color: #635147;
}

img.card{
    object-fit: contain;
}