body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
div.grid{
    width: 100vw;
}

div.row{
    display: flex;
    flex-direction: row;
}

div.tile{
    width: 10vh;
    height: 10vh;
    border-style: solid;
    border-color: #635147;
    margin: 5%;
}

img.card{
    object-fit: contain;
}