body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6B588;
}

div.row{
    display: flex;
    flex-direction: row;
}

div.tile{
    width: 10vh;
    height: 10vh;
}

img.card{
    object-fit: contain;
    border-style: solid;
}