body{
    background-color: #D6B588;
}


div#header{
    width: 100vw;
    position: sticky;
    border-style: solid;
    border-color: #635147;
    color: #635147;
    background-color: #E5AA70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

div#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

a.link{
    margin-left: 5%;
    margin-right: 5%;  
}

h2#title{
    color: #635147;
}

a:link{
    color: #635147;
}

a:visited{
    color: saddlebrown;
}