body{
    background-color: #D6B588;
}


div#header{
    width: 100vw;
    position: sticky;
    border-style: solid;
    border-color: #635147;
    display: flex;
    justify-content: space-evenly;
}