body{
    background-color: #D6B588;
}


div#header{
    width: 100vw;
    position: sticky;
    border-style: solid;
    border-color: #635147;
    color: #635147;
    background-color: #E5AA70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div#links{
    display: flex;
    flex-direction: row;
}

a.link{
    margin-left: 2%;
    margin-right: 2%;
}

h2#title{
    color: #635147;
}