p#rules{
    color: #635147;
    text-align: center;
}

img.image{
    width: 10vh;
    height: auto;
}

div#images{
    color: #635147;
    display: flex;
    justify-content: center;
}

h3#semiCaption{
    color: #635147;
}