body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
p#rules{
    color: #635147;
}

img.image{
    width: 9%;
    height: auto;
}

div#images{
    color: #635147;
    display: flex;
    justify-content: center;
}